<div class="container-fluid">
    <div>
        <div class="container-fluid" style="background-color: blueviolet; color: white; text-align: center;">
            <h2>Customer Form</h2>
        </div>
        <form [formGroup]="addCustom" class="col-8 center" (ngSubmit)="addCus()">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Full Name" type="text" formControlName="name">
            </div> <!-- form-group// -->
        
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Address" type="text" formControlName="address">
            </div> <!-- form-group// -->
        
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Phone number" type="text" formControlName="phone">
            </div> <!-- form-group// -->
        
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Create password" type="text" formControlName="password">
            </div> <!-- form-group// -->
        
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Repeat password" type="repassword" >
            </div> <!-- form-group// -->
        
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" type="submit"> Submit </button>
                <!-- <button type="submit" class="btn btn-primary btn-block" type="submit" (click)="updateCus()"> Update</button> -->
           
            </div> <!-- form-group// -->
        
            <p class="text-center text-primary">Have an account? <a routerLink="login">Log In</a> </p>
        </form>
    </div>

</div>
<table class="table">
    <thead style="background-color: blueviolet;padding: 2px;color: white;">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>password</td>
            <td style="text-align: center;"></td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cus of custom" class="mb-4">
            <td>{{cus.id}}</td>
            <td>{{cus.name}}</td>
            <td>{{cus.address}}</td>
            <td>{{cus.phone}}</td>
            <td>{{cus.password}}</td>
            <td style="text-align: center;"> 
                <button class="btn btn-info" (click)="editCustomer(cus)">Update</button>&nbsp;
                <button class="btn btn-danger"(click)="DeleteCus(cus)">Delete</button> 
            </td>

        </tr>
        
        
    </tbody>
</table>
<app-footer></app-footer>