
  <div class="col-12">
    <h2 class="" style="color: white; background-color: blueviolet;">Order Details</h2>
    <table class="table table-striped ">
      <tbody>
        <tr>
          <th scope="row">Customer Id</th>
          <td>384</td>
          <th scope="row">Order Date</th>
          <td>17.02.2023</td>
        </tr>
        <tr>
          <th scope="row">Customer Name</th>
          <td>Rabiul</td>
          <th scope="row">Contract Number</th>
          <td>01734467273</td>
          
        </tr>
        <tr>
          <th scope="row">Order Status</th>
          <td>Paid</td>
          <th scope="row">Total Amount</th>
          <td>1600</td>       
        </tr>
     
      </tbody>
    </table>
  </div>
    <!-- Order details End -->

  <div class="col-12">
    <h2 class="" style="color: white; background-color: blueviolet;">Order Items</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Total Items</th>
          <th scope="col">Cost Per Unit</th>
          <th scope="col">Total Cost</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>No Image</td>
          <td>Lexus Biscut</td>
          <td>1</td>
          <td>100</td>
          <td>100</td>
          <td><button class="btn btn-danger"> Delete</button> &nbsp;<button class="btn btn-info">View</button></td>
        </tr>
             
      </tbody>
    </table>

  </div>




