
<div class="container" ng-app="invoice">
    <section class="jumbotron">
      <h1>AngularJS invoice example</h1>
      <p>Createing simple invoice example by Amro Eldewiny - Arabic HTML</p>
      <p>Add more invoice as you like.</p>
    </section>
    <section class="row" ng-controller="InvoiceController">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in invoice.items">
            <td><input type="text" ng-model="item.name" class="form-control" /></td>
            <td><input type="text" ng-model="item.description" class="form-control" /></td>
            <td><input type="number" ng-model="item.qty" class="form-control" /></td>
            <td><input type="number" ng-model="item.price" class="form-control" /></td>
            <td>Price</td>
            <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
          </tr>
          <tr>
          <td><button type="button" class="btn btn-primary" ng-click="add()">Add item</button></td>
            <td></td>
            <td></td>
            <td>Total : </td>
            <td>Total</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
 
  <p class="margin">
  
  </p>