

<table class="table">
  <thead style="background-color: blueviolet; color: white;">
    <tr>
      <th scope="col">Shop No</th>
      <th scope="col">Shop Branch Name</th>
      <th scope="col">Daily sell </th>
      <th scope="col">Weekly sell</th>
      <th scope="col">Monthly Sell</th>
      <th scope="col">Yearly Sell</th>
      <th scope="col">Total Profit</th>
      <th scope="col">Total Loss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mirpur</td>
      <td>5000</td>
      <td>35000</td>
      <td>1500000</td>
      <td>25000000</td>
      <td>35000</td>
      <td>00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dhanmondi</td>
      <td>5000</td>
      <td>35000</td>
      <td>1500000</td>
      <td>25000000</td>
      <td>00</td>
      <td>13000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Palton</td>
      <td>7000</td>
      <td>42000</td>
      <td>132500</td>
      <td>235000</td>
      <td>00</td>
      <td>036000</td>
    </tr>
    <th scope="row"></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
    <td>Total= 3500</td>
    <td>49000</td>
  </tbody>
</table>


