
<body>
    <i class="fa-solid fa-plus"></i>
    <i class="fa-solid fa-minus"></i>
    <div class="container">
        <h1 style="text-align: center;">Rs Shop</h1>

        <div class="card"> </div>
            <div class="card-img">
                <img src="assets/images/biscut.jpeg" alt="" class="img">


            </div>
            <div class="card-title">
                <h3>Lexus Biscut </h3>
                <h3>Bangladeshi</h3>
                <h3 class="price">Price PK : 100 BDT</h3>
               <i class="fas fa-plus icon" onclick="increament()"></i>
                <input class="input"  id="count" type="button" value="0">
                <i class="fas fa-minus icon"></i>
                <span class="item">Your item $00 </span>
            </div>
       
        <div class="clear">
            <hr class="hr-style">
            <div class="card"></div>
            <div class="card-img">
                <img src="assets/images/meat1.png" alt="" class="img">


            </div>
            <div class="card-title">
                <h3>Meat </h3>
                <h3>Bangladeshi</h3>
                <h3 class="price">Price PK : 800 BDT</h3>
                <i class="fas fa-plus icon"></i>
                <input class="input" type="button" value="0">
                <i class="fas fa-minus icon"></i>
                <span class="item">Your item $00 </span>
            </div>


        </div>


    </div>
    <div class="fixed">
        <h1 class=" total">The Total amount of</h1>
        <h2>Product amount : $00</h2>
        <h2>Delivary charge : $20</h2>
        ----------------------------------------------------------------
        <h2>Total Product Amount : $00</h2>

        <h4 class="coupon"> Coupon Code </h4>
        <h4 class="code"> Your code Is : RS_TECH</h4>
        <input class="couponInput" type="text" placeholder="Your coupon code..."><br><br>
        <button class="apply">Apply</button>
        
        
    </div>
    

</body>

