<div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="i">

    </div>
    <div _ngcontent-etp-c64="" class="dashboard-nav-dropdown-menu"><a _ngcontent-etp-c64="" href="#"
            class="dashboard-nav-dropdown-item">Daily Sales</a><a _ngcontent-etp-c64="" href="#"
            class="dashboard-nav-dropdown-item">Clint Wise</a><a _ngcontent-etp-c64="" href="#"
            class="dashboard-nav-dropdown-item">Product Wise</a></div>

    <div class="sidenav" style="background-color:bisque; height: 100%;width: 150px;">
        <a href="#about">Grocery</a>
        <hr>
        <a href="#services">Breakfast</a>
        <hr>
        <a href="#clients">Baby Care</a>
        <hr>
        <a href="#contact">Beverages</a>
        <hr>
        <a href="#about">Diabetic Foods</a>
        <hr>
        <a href="#services">Snacks</a>
        <hr>
        <a href="#clients">Dairy</a>
        <hr>
        <a href="#contact">Daily Need</a>
        <hr>
        <a href="#about">Office Product</a>
        <hr>
        <a href="#services">All Cosmetics</a>
        <hr>
        <a href="#clients">Others</a>
        <hr>
        <a href="#contact">Meet</a>
        <hr>
    </div>
</div>




<!-- 
<div class="col-md-7 sidebar" style="color: black; background-color:darkcyan;">
    <div class="side-menu animate-dropdown outer-bottom-xs">
        <div data-toggle="collapse" data-target="#sidebar_hidden" class="head collapsed " style="background-color: cyan;">
            <i class="icon fa fa-align-justify fa-fw"></i> Products &amp; Services
        </div> 
        <nav  id="sidebar_hidden" class="yamm megamenu-horizontal mobile_collapse_out collapse" style="height: 0px;">
            <ul class="nav">
                <li class="dropdown menu-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i aria-hidden="true" class="icon"></i> Grocery
                    </a>
                    <ul class="dropdown-menu mega-menu" style="background-color: white;">
                        <li class="yamm-content">
                            <div class="row"><div class=" col-sm-10 col-md-10 mb-2">
                                <ul >
                                    <li><a href="#"> Rice</a></li>
                                    <li><a href="#"> Pickles </a></li> 
                                    <li><a href="#"> Spices</a></li> 
                                    <li><a href="#"> Oil </a></li>
                                </ul>
                            </div> 
                            <div class=" col-sm-10 col-md-10 mb-2">
                                <ul >
                                    <li><a href="https://www.melasupershop.com/products/category/6"> Ready Mix </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/7"> Ghee</a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/8">Salt &amp; Sugar  </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/9"> Dal </a></li>
                                </ul>
                            </div> 
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li><a href="https://www.melasupershop.com/products/category/10"> Atta </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/11">Semai &amp; Suji </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/12">Others Grocery</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                            <div class=" col-sm-6 col-md-6">
                                <ul class="links list-unstyled">
                                    <li><a href="https://www.melasupershop.com/products/category/2"> Rice</a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/3"> Pickles </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/4"> Spices</a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/5"> Oil </a></li>
                                </ul>
                            </div> 
                            <div class=" col-sm-6 col-md-6">
                                <ul class="links list-unstyled">
                                    <li><a href="https://www.melasupershop.com/products/category/6"> Ready Mix </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/7"> Ghee</a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/8">Salt &amp; Sugar  </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/9"> Dal </a></li>
                                </ul>
                            </div> 
                            <div class="col-sm-6 col-md-6">
                                <ul class="links list-unstyled">
                                    <li><a href="https://www.melasupershop.com/products/category/10"> Atta </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/11">Semai &amp; Suji </a></li> 
                                    <li><a href="https://www.melasupershop.com/products/category/12">Others Grocery</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/13" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>  Breakfast 
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/14">Bread &amp; Cake</a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/15">Energy Boosters </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/16">Cereals</a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/17">Jam </a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/18" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>  Baby Care 
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/19">Diapers &amp; Wipes </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/20">Feeders </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/21">Fooding</a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/22">Skin Care </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/23">Oral Care</a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/24" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>   Beverages 
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/25">Tea </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/26">Coffee </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/27">Juice</a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/28">Soft Drinks </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/29">Mineral Water </a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/30" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>   Diabetic Foods 
                </a> <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/31">Zerocal </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/32">Atta </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/33">Sugar Free Biscuits</a></li>
                    <li><a href="https://www.melasupershop.com/products/category/28">Soft Drinks </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/29">Mineral Water </a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/34" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>    Snacks 
                </a> <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/35">Noodles </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/36">Soups </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/37">Candy </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/38">Pasta </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/39">Chips </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/40">Biscuits </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/41">Sauces </a></li>
                </ul>
            </li> 
            <li class="menu-item">
                <a href="https://www.melasupershop.com/products/category/42">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>  Dairy 
                </a>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/43" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>    Daily Need  
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/44"> Health Care </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/45"> Personal </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/46"> Antieseptics</a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/47" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>     Office Products  
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/48">Batteries </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/49">Writing &amp; Drawing </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/50">Printing </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/51">File &amp; Gum </a></li>
                </ul>
            </li> 
            <li class="dropdown menu-item">
                <a href="https://www.melasupershop.com/products/category/52" data-toggle="dropdown" class="dropdown-toggle">
                    <i aria-hidden="true" class="icon fa fa-shopping-bag"></i>     All Cosmetics
                </a> 
                <ul class="dropdown-menu mega-menu small-side-menu">
                    <li><a href="https://www.melasupershop.com/products/category/53">Men </a></li> 
                    <li><a href="https://www.melasupershop.com/products/category/54">Women </a></li>
                </ul>
            </li> 
            <li class="menu-item">
                <a href="https://www.melasupershop.com/products/category/55"><i aria-hidden="true" class="icon fa fa-shopping-bag"></i>   Others  </a>
            </li>
        </ul>
    </nav>
</div>
</div>

    <div class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </div>
    
    
         -->