
<!-- //<div class="fixed-bottom"></div> -->
  <footer class="footer">
    <div class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-sm">
            <a href="#" class="footer-logo">Rs-SHOP</a>
            <p class="copyright">
             All Reserve are Rs Shop
              <small>&copy; 2023</small>
            </p>
          </div>
          <div class="col-sm">
            <h3>Customers</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Buyer</a></li>
              <li><a href="#">Supplier</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3>Further Information</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Follow us</h3>
            
          </div>
          <div class="col-sm">
            <a href="#" >Contact us</a>
            <a href=""> rabiulnewsnfo@gmail.com</a>
            <a href="">  01734467273</a>
          </div>
          
        </div>
      </div>
    </div>
  </footer>

  <!-- <footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button" href="https://twitter.com/ankit_ngdevelop" target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Ankit_NgDevelop</a>.
        </h6>
    </div>
</footer> -->